:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: Raleway, sans-serif;
  --akcent-color: #2196f3;
  --first-colour: #ffffff;
  --second-colour: #757575;
  --third-colour: #212121;
  --fourth-colour: #000000;
  --fives-colour: #eeeeee;
  --background-colour: #2f303a;
  --secondary-bg-colour: #f5f4fa;
  --vectorsbg: #f5f4fa;
  --vectors: #afb1b8;
  --footervectorsbg: rgba(255, 255, 255, 0.1);
}
body {
  font-family: var(--main-font);
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
ul,
ol {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.visually-hidden {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px); /* IE6, IE7 */
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}
.link {
  text-decoration: none;
}
.list {
  list-style: none;
}
.adress {
  font-style: normal;
}

.logo-text {
  font-family: 'Raleway', sans-serif;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.logo link {
  font-family: var(--secondary-font);

  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  /*color: #2196f3;*/
}
.container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
.header-container {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
  display: flex;
}

/*===========HEADER==========*/
.header {
  display: flex;
  align-items: center;

  background-color: var(--first-colour);

  border-bottom: var(--fives-colour) 1px solid;
}
.header-icons-tel {
  width: 10px;
  height: 16px;
  margin-right: 10px;
}
.active-page-link {
  color: var(--akcent-color);
  position: relative;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.active-page-link:visited {
  color: var(--akcent-color);
}

.header-icons {
  width: 16px;
  height: 12px;
  margin-right: 10px;
}
.header-links-item {
  fill: var(--vectors);
}

.header-links-item:hover,
.header-links-item:focus {
  color: var(--akcent-color);
  fill: #2196f3;
}
.header-links-item:not(:last-child) {
  margin-left: auto;
  margin-right: 30px;
}
.img-about {
  display: flex;
}

.logo {
  margin-right: 70px;
  padding-top: 24px;
  padding-bottom: 25px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  display: flex;
  align-items: center;
}

.navigation-item:not(:last-child) {
  margin-right: 50px;
}
.logo-text-header {
  font-family: var(--secondary-font);
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;

  letter-spacing: 0.03em;

  color: var(--fourth-colour);
}
.navigation-link {
  display: block;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: 0.02em;
  text-align: left;
  color: var(--third-colour);
  padding-top: 32px;
  padding-bottom: 32px;
  position: relative;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page-link::after {
  content: '';
  width: 100%;
  height: 5px;
  background-color: var(--akcent-color);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.active-page-link::after {
  opacity: 1;
}

.navigation-link:hover,
.navigation-link:focus {
  color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.navigation-link:active {
  color: var(--akcent-color);
}

.contact-link {
  display: flex;
  align-items: center;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--second-colour);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.header-icons {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-link:hover .header-icons,
.contact-link:focus .header-icons,
.contact-link:hover,
.contact-link:focus {
  color: var(--akcent-color);
  fill: var(--akcent-color);
}

.contact-list {
  display: flex;
  align-items: center;

  margin-left: auto;
}

/*=========HERO========*/
.herro {
  background-color: var(--background-colour);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herro/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.herro-link {
  border-radius: 4px;
}

.herro-link:not(:last-child) {
  margin-right: 8px;
}
.herro-portfolio {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}

.about-border-portfolio {
  background-color: var(--first-colour);
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border: var(--fives-colour) 1px solid;
}

.about-list-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.herro-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--first-colour);
  margin-bottom: 30px;

  text-transform: uppercase;
}
.model-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding-bottom: 200px;

  letter-spacing: 0.06em;

  color: var(--first-colour);
  padding: 10px 32px;
  background-color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.model-btn1 {
  background: var(--secondary-bg-colour);
  border-radius: 4px;
  font-weight: 500;
  font-size: 16px;
  padding-top: 6px;
  padding-left: 22px;
  padding-right: 22px;
  padding-bottom: 6px;
  letter-spacing: 0.03em;
  border-width: 2px;

  color: var(--third-colour);
  border-color: transparent;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.model-btn:hover,
.model-btn:focus {
  background-color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.model-btn1:hover,
.model-btn1:focus {
  background-color: var(--akcent-color);
  color: var(--first-colour);
  border-color: var(--akcent-color);
  border-width: 2px;
  border-color: transparent;
  cursor: pointer;

  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.model-btn1:active {
  box-shadow: none;
}

.herro-list {
  display: flex;
  margin-bottom: 56px;
  justify-content: center;
}
.teem-list-link-wraper {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teem-list-link-wraper:hover,
.teem-list-link-wraper:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

/*================ABOUT===========*/
.about-border {
  border: solid 1px;
  border-top: none;
}

.features {
  padding-top: 94px;
  padding-bottom: 47px;
}
.features-icons {
  margin-bottom: 30px;
  justify-content: center;
  display: flex;
  width: 270px;
  height: 120px;
  background-color: var(--vectorsbg);
  align-items: center;
}

.about-list {
  display: flex;
}
.about-mini-title {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--third-colour);
  margin-bottom: 10px;
}
.about-subtitle {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--second-colour);
}
.about-title-portfolio {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--third-colour);
  margin-bottom: 4px;
}
.about-item {
  font-weight: normal;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
  color: var(--second-colour);
}
.about-item:not(:last-child) {
  margin-right: 30px;
}
link {
  display: block;
}
.about-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  margin-bottom: 30px;
  margin-right: -30px;
}
.about-link:hover {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
.about-link:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
/*==========Section3==========*/
.about {
  padding-top: 94px;
  padding-bottom: 94px;
  background-color: var(--first-colour);
}
.overlay-portfolio {
  width: 100%;
  height: 70px;
  display: flex;
  position: absolute;

  justify-content: center;
  align-items: center;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: var(--first-colour);
  text-align: center;
  text-transform: uppercase;
  bottom: 0;
  left: 0;
  background: rgba(47, 48, 58, 0.8);
}
.section3-list {
  display: flex;
  /* justify-content: space-between;*/
}
.about-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 50px;
  color: var(--third-colour);
}
.section3-about {
  padding-bottom: 94px;
  padding-top: 47px;
}
.section3-item {
  margin-right: 30px;
  position: relative;
}

/*===========section4==========*/

.about {
  background-color: var(--secondary-bg-colour);
}
.section4-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  width: 270px;
  background: var(--second-colour);
}
.section4-item:not(:last-child) {
  margin-right: 30px;
}
.section4-teem {
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 32px;
  padding-right: 32px;
  background-color: var(--first-colour);
}

.section4-list {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.section4-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--third-colour);
  margin-bottom: 10px;
}

.section4-subtitle {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--second-colour);
  margin-bottom: 30px;
}
.social-list-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 44px;
  width: 44px;
  border-radius: 50%;
}
/*.icons-thumb {
  display: flex;
  height: 44px;
  width: 44px;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}*/

.social-list {
  margin-top: 16px;
  display: flex;
  justify-content: space-between;
}
.social-list-icon {
  fill: var(--vectors);
}
.social-list-link:focus,
.social-list-link:hover,
.social-list-link:focus .social-list-icon,
.social-list-link:hover .social-list-icon {
  fill: var(--first-colour);
  background-color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
/*==========components=======*/
.logo-light-teme {
  color: var(--fourth-colour);
}
.logo-dark-teme {
  color: var(--first-colour);
}
/*===========Partners=========*/
.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}
.partners-icon {
  fill: var(--vectors);
}
.partners-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--vectors);
  width: 170px;
  height: 90px;
  border: 1px solid var(--vectors);
  border-radius: 4px;
}

/*.partners-thumb {
  width: 170px;
  height: 90px;
  border: 1px solid var(--vectors);
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}*/

.partners-list {
  display: flex;
  justify-content: space-between;
}
.partners-link:hover .partners-icon {
  fill: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:hover {
  border: 1px solid var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-link:focus .partners-icon {
  fill: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:focus .partners-thumb {
  border: 1px solid var(--akcent-color);

  outline: none;
}

.container-partners {
  width: 1200px;
  margin: 0 auto;
  padding-left: 15px;
  padding-right: 15px;
}
/*=========footer=======*/
footer {
  background-color: var(--background-colour);
  padding: 60px 0;
}

.footer-container {
  padding: 0 15px;
  width: 1200px;
  margin: 0 auto;
  display: flex;
  align-items: baseline;
}
.adress {
  display: block;
  font-style: normal;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.footer-wraper {
  margin-right: 70px;
}

.adress-item {
  color: var(--first-colour);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  color: var(--first-colour);
}

.footer-contacts {
  display: block;
  font-weight: 400;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.adreess-link:not(:last-child) {
  margin-bottom: 9px;
}

.footer-wraper-social {
  width: 206px;
  height: 80px;
}
.adress-item:hover,
.adress-item:focus {
  color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-contacts:hover,
.footer-contacts:focus {
  color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.icon-list {
  display: flex;
  justify-content: space-between;
}

.icon-list-item {
  box-sizing: inherit;
  justify-content: space-between;
}
.icon-item-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: var(--footervectorsbg);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-item-link:hover,
.icon-item-link:focus {
  background-color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icons {
  fill: var(--first-colour);
}
.invitation {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-colour);
  margin-bottom: 20px;
}
.icon-list-item:not(:last-child) {
  margin-right: 10px;
}
.signup-text {
  width: 219px;
  height: 16px;
  left: 815px;
  top: 2749px;
  margin-bottom: 20px;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--first-colour);
}
.footer form {
  display: inline-block;
  padding: 15px 16px;
  border-radius: 4px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 358px;
  margin-right: 12px;
  text-align: center;
  color: var(--first-colour);
}
footer input {
  background-color: var(--grey-bgc);
  border: none;
  color: var(--secondary-accent-color);
  outline: none;
  width: 100%;
}
.sign-btn {
  width: 200px;
  height: 50px;
  background: var(--akcent-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-colour);
  align-items: center;
  text-align: center;
  padding: 10px 29px;

  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.signup-wrap {
  align-items: center;
  display: flex;
}
.footer .sign-btn {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.signup-wrap .footer-icons {
  margin-left: 10px;
}
.footer-wraper-form {
  margin-left: 93px;
}
.main-footer-list {
  display: flex;
}
/*==========END FOOTER========*/
/*=========OVERLAY==========*/
.overlay {
  position: absolute;
  height: 294px;
  left: 0;
  top: 0;
  transform: translateY(101%);
  transition: transform 250ms;
  background: rgba(33, 150, 243, 0.9);
  width: 370px;
  padding: 63px 24px;
  font-size: 18px;
  line-height: 1.56;
  vertical-align: top;
  letter-spacing: 0.03em;
  color: var(--first-colour);
  overflow: auto;
}
.teem-list-content-wraper {
  position: relative;
  overflow: hidden;
}
.teem-list-link-wraper:hover .overlay,
.teem-list-link-wraper:focus .overlay {
  transform: translateY(0%);
}
/*========END OVERLAY=======*/
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  transition: all 250ms linear;
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 528px;
  height: 581px;
  background-color: var(--first-colour);
  padding: 40px;
}

.modal-close-btn {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  cursor: pointer;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  fill: var(--akcent-color);
}
.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}
.model-text {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 12px;
  color: var(--third-colour);
  display: block;
}
.modal-form {
  display: flex;
  flex-direction: column;
}
.modal-form-input {
  width: 100%;
  height: 40px;

  border: 1px solid rgba(33, 33, 33, 0.2);
  cursor: pointer;
  border-radius: 4px;
  padding-left: 42px;
  transition: border-colour 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-input:hover,
.modal-form-input:focus {
  outline: none;
  border-color: var(--akcent-color);
}
.modal-icon {
  display: block;
  position: absolute;
  top: 50%;
  left: 15px;
  transform: translateY(-50%);
  transition: background-colour 250ms;
}
.modal-form-field {
  position: relative;
  margin-top: 10px;
  margin-bottom: 4px;
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;

  color: #757575;
}
.modal-form-input-wraper {
  position: relative;
  display: block;
}
.modal-form-input:focus + .modal-icon {
  fill: var(--akcent-color);
}
.modal-form-message {
  width: 100%;
  height: 120px;
  border: 1px solid rgba(33, 33, 33, 0.2);

  border-radius: 4px;
  padding: 12px 16px;
  resize: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-form-message:focus {
  border-color: var(--akcent-color);
  outline: none;
}
.modal-form-message::placeholder {
  color: rgba(117, 117, 117, 0.5);

  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
}

.modal-form-check-desc {
  display: flex;
  align-items: center;
  font-family: inherit;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  margin-top: 20px;
}
.modal-form-check-desc::before {
  content: '';
  display: block;
  width: 16px;
  height: 16px;
  border: 1px solid var(--third-colour);
  border-radius: 4px;
  margin-right: 8px;
  cursor: pointer;
}
.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url(../images/chekbox/icon-check.svg);
  background-position: center;
  background-color: var(--akcent-color);
}
/*
.modal-form-term:checked + .modal-form-check-desc::before {
  background-image: url(../images/sprite.svg#icon-icon-check);
  background-repeat: no-repeat;
  background-position: center;
  background-color: var(--accent-color);
  border-color: var(--accent-color);
}*/

.modal-form-term:focus + .modal-form-check-desc::before {
  border-color: var(--akcent-color);
}

.modal-form-btn {
  min-width: 200px;
  min-height: 50px;
  align-self: center;
  background: #188ce8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: var(--first-colour);
  margin-top: 30px;
}
.modal-checkbox_line {
  display: flex;
  margin-left: auto;
  margin-right: auto;
}
.checkbox-icon {
  position: absolute;
  display: block;
  bottom: 129px;
  left: 40px;
  transform: translateY(-50%);
}
.modal-form-term {
  position: relative;
  display: block;
}
.user-link {
  font-family: var(--main-font);
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}
