.herro {
  background-color: var(--background-colour);
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url(../images/herro/Img.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.herro-link {
  border-radius: 4px;
}

.herro-link:not(:last-child) {
  margin-right: 8px;
}
.herro-portfolio {
  text-align: center;
  padding-bottom: 94px;
  padding-top: 94px;
}

.about-border-portfolio {
  background-color: var(--first-colour);
  padding-right: 24px;
  padding-left: 24px;
  padding-top: 20px;
  padding-bottom: 20px;
  text-align: left;
  border: var(--fives-colour) 1px solid;
}

.about-list-portfolio {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.herro-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: var(--first-colour);
  margin-bottom: 30px;

  text-transform: uppercase;
}
.model-btn {
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  border: none;
  min-width: 200px;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  padding-bottom: 200px;

  letter-spacing: 0.06em;

  color: var(--first-colour);
  padding: 10px 32px;
  background-color: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.herro-list {
  display: flex;
  margin-bottom: 56px;
  justify-content: center;
}
.teem-list-link-wraper {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.teem-list-link-wraper:hover,
.teem-list-link-wraper:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}
