.partners {
  padding-top: 94px;
  padding-bottom: 94px;
}
.partners-icon {
  fill: var(--vectors);
}
.partners-link {
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

  box-sizing: border-box;

  display: flex;
  align-items: center;
  justify-content: center;
  fill: var(--vectors);
  width: 170px;
  height: 90px;
  border: 1px solid var(--vectors);
  border-radius: 4px;
}

.partners-list {
  display: flex;
  justify-content: space-between;
}
.partners-link:hover .partners-icon {
  fill: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:hover {
  border: 1px solid var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.partners-link:focus .partners-icon {
  fill: var(--akcent-color);
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.partners-link:focus .partners-thumb {
  border: 1px solid var(--akcent-color);

  outline: none;
}
